{% extends 'ml_base.html' %}

{% block content %}
    <b id="test" onclick="getTraining()">Get Training Progress</b>
    <b id="training_result"></b>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
    function getTraining(){
            $.ajax({
                url: '/ml/training',
                dataType: 'json',
                success: function (data) {
                  if (data.training_result != "{}") {
                      $('#training_result').text(JSON.stringify(data.training_result))
                  }else{
                      getTraining();
                  }
                }
              });
         }
</script>
{% endblock %}