{% extends 'ml_base.html' %}

{% block content %}
    <b id="test" onclick="getTraining()">whoami</b>
    <b id="echo"></b>
    <p>AJAX Test</p>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
    function getTraining(){
            $.ajax({
                url: '/ml/training',
                data: {
                  'echo': 'hello'
                },
                dataType: 'json',
                success: function (data) {
                  if (data.echo != "{}") {
                      $('#echo').text(JSON.stringify(data.echo))
                  }else{
                      getTraining();
                  }
                }
              });
         }
</script>
{% endblock %}