[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1.2"
gunicorn = "==19.9.0"
djangorestframework = "*"
django-rest-swagger = "*"
django-cid = "*"
kafka-python = "*"
#numpy = "==1.15.3"
tensorflow = "*"
#scipy = "==1.1.0"
keras = "*"

[dev-packages]

[requires]
python_version = "3.7"
